[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
bs4 = "*"
django-extensions = "*"
gunicorn = "*"
requests = "*"
pandas = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
ipython = "*"
openpyxl = "*"
django-crontab = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
pyamqp = "*"
sqlalchemy = "*"
mysqlclient = "*"

[dev-packages]
pylint = "*"
notebook = "*"

[requires]
python_version = "3.9"
