[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.2"
bs4 = "*"
django-extensions = "*"
django-bootstrap4 = "*"
gunicorn = "*"
ipython = "*"
pylint = "*"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
