[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
django-extensions = "*"
gunicorn = "*"
requests = "*"
pandas = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
mysqlclient = "*"
ipython = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
notebook = "*"

[requires]
python_version = "3.9"
