{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="be-wrapper" style="min-height:0;">
  <nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
      <div class="be-navbar-header"><a class="navbar-brand" href="index.html"></a>
      </div>
      <div class="navbar-collapse collapse" id="be-navbar-collapse">

        <ul class="navbar-nav">
          <li class="nav-item" id="project_menu"><a class="nav-link" href="/project">Project</a></li>
          <li class="nav-item" id="testing_menu"><a class="nav-link" href="/testing">Testing</a></li>
          <li class="nav-item" id="problem_menu"><a class="nav-link" href="/problem">Problem</a></li>
          <li class="nav-item" id="testcase_menu"><a class="nav-link" href="/testcase">Test case</a></li>
        </ul>

      </div>

      <div class="be-right-navbar">

        <ul class="nav navbar-nav float-right be-user-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              {% if user_info.img_src %}
              <img src="{{user_info.img_src}}" alt="Avatar">
              {% else %}
              <img src="{% static 'assets/img/avatar.png' %}" alt="Avatar">
              {% endif %}
            </a>
            <div class="dropdown-menu" role="menu">
              <div class="user-info">
                <div class="user-name">{{user_info.kr_name}} {{user_info.title}}</div>
                <div class="user-position">{{user_info.department}}</div>
              </div>
              <a class="dropdown-item" href="/logout">
                <span class="icon mdi mdi-power"></span>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% block contents %}

{% endblock contents %}

{% endblock %}