{% extends 'nav.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "/jqgrid/css/ui.jqgrid.min.css" %}">
<script src="{% static "/jqgrid/jquery.jqgrid.min.js" %}"></script>
<script src="{% static "/jqgrid/jquery.jqgrid.min.js" %}"></script>
{% endblock %}


{% block contents %}

<div class="be-left-sidebar">
    <ul class="sidebar-elements">
            <li><a>Service</a></li>
            <li><a href="ui-alerts.html">Alerts</a></li>
        </ul>
    </ul>
</div>
  
<div class="be-content" id="testcase-list-jqgrid" style="width:100%;">

    <div class="be-wrapper be-aside be-fixed-sidebar">
        
        
        <div class="be-content be-no-padding">
          <aside class="page-aside">
            <div class="be-scroller-aside">
              <div class="aside-content">
                <div class="content">
                  <div class="aside-header">
                    <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button"><span class="icon mdi mdi-caret-down"></span></button><span class="title">Mail Service</span>
                    <p class="description">Service description</p>
                  </div>
                </div>
                <div class="aside-nav collapse">
                  <ul class="nav">
                    <li><a href="#"><i class="icon mdi mdi-inbox"></i>Inbox<span class="badge badge-primary float-right">8</span></a></li>
                    <li class="active"><a href="#"><i class="icon mdi mdi-email"></i>Sent Mail</a></li>
                    <li><a href="#">             <i class="icon mdi mdi-case">               </i>Important<span class="badge badge-secondary float-right">4</span></a></li>
                    <li><a href="#"><i class="icon mdi mdi-file"></i>Drafts</a></li>
                    <li><a href="#"><i class="icon mdi mdi-star"></i>Tags</a></li>
                    <li><a href="#"><i class="icon mdi mdi-delete"></i>Trash</a></li>
                  </ul><span class="title">Labels</span>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">
                                      Inbox<span class="badge badge-success float-right">0</span></a></li>
                    <li><a href="#">
                                     Sent Mail<span class="badge badge-danger float-right">8</span></a></li>
                    <li><a href="#">
                                     Important<span class="badge badge-warning float-right">4</span></a></li>
                  </ul>
                  <div class="aside-compose"><a class="btn btn-lg btn-primary btn-block" href="#">Compose Email</a></div>
                </div>
              </div>
            </div>
          </aside>
              <div class="row">
                <div class="col-lg-6">
                  <div class="email-title"><span class="icon mdi mdi-inbox"></span> Inbox <span class="new-messages">(2 new messages)</span>  </div>
                </div>
                <div class="col-lg-6">
                  <div class="email-search">
                    <div class="input-group input-search input-group-sm">
                      <input class="form-control" type="text" placeholder="Search mail..."><span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i class="icon mdi mdi-search"></i></button></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-filters">
              <div class="email-filters-left">
                <div class="custom-control custom-checkbox be-select-all">
                  <input class="custom-control-input" type="checkbox" id="check1">
                  <label class="custom-control-label" for="check1"></label>
                </div>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
                     With selected <span class="caret"></span></button>
                  <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Mark as rea</a><a class="dropdown-item" href="#">Mark as unread</a><a class="dropdown-item" href="#">Spam</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button class="btn btn-secondary" type="button">Archive</button>
                  <button class="btn btn-secondary" type="button">Span</button>
                  <button class="btn btn-secondary" type="button">Delete</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">Order by <span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Date</a><a class="dropdown-item" href="#">From</a><a class="dropdown-item" href="#">Subject</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Size</a>
                  </div>
                </div>
              </div>
              <div class="email-filters-right"><span class="email-pagination-indicator">1-50 of 253</span>
                <div class="btn-group email-pagination-nav">
                  <button class="btn btn-secondary" type="button"><i class="mdi mdi-chevron-left"></i></button>
                  <button class="btn btn-secondary" type="button"><i class="mdi mdi-chevron-right"></i></button>
                </div>
              </div>
            </div>
            <div class="email-list">
              <div class="email-list-item email-list-item--unread">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check2">
                    <label class="custom-control-label" for="check2"></label>
                  </div><a class="favorite active" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right"><i class="icon mdi mdi-attachment-alt"></i> 28 Jul</span><span class="from">Penelope Thornton</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
              <div class="email-list-item email-list-item--unread">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check3">
                    <label class="custom-control-label" for="check3"></label>
                  </div><a class="favorite" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right"></span><span class="date float-right"><i class="icon mdi mdi-attachment-alt"></i> 13 Jul</span><span class="from">Benji Harper</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
              <div class="email-list-item">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check4">
                    <label class="custom-control-label" for="check4"></label>
                  </div><a class="favorite" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right">23 Jun</span><span class="from">Justine Myranda</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
              <div class="email-list-item">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check5">
                    <label class="custom-control-label" for="check5"></label>
                  </div><a class="favorite" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right">17 May</span><span class="from">John Doe</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
              <div class="email-list-item">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check6">
                    <label class="custom-control-label" for="check6"></label>
                  </div><a class="favorite" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right">16 May</span><span class="from">Sherwood Clifford</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
              <div class="email-list-item">
                <div class="email-list-actions">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="check7">
                    <label class="custom-control-label" for="check7"></label>
                  </div><a class="favorite" href="#"><span class="mdi mdi-star"></span></a>
                </div>
                <div class="email-list-detail"><span class="date float-right">12 May</span><span class="from">Kristopher Donny</span>
                  <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
 
          
              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    
</div>

{% endblock %}
