{% extends 'nav.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "/css/testcase.css" %}"/>
<script src="{% static "/js/testcase.js" %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
{% endblock %}

{% block contents %}
<div class="wrapper">

	<div id="sidebar" class="split split-horizontal">
		<h3>Services</h3>
		{% for service in testcases %}
		<div class="service" id="{{service.service_id}}">
			<a class="serviceMenu" href="/testcase?service={{service.service_id}}">
				{{service.service_name}}
			</a>
		</div>
		{% endfor %}
	</div>

	<div id="main" class="split split-horizontal">
		<div id="header">
			<p class="table-filter-title">{{service.service_name}}</p>
			<div class="col form-select">
				<label>Module</label>
				<select id="module_select" class="form-control" onchange="module_change(this.value)">
					{% for module in service.module_set.all %}
					<option value="{{ module.module_id }}">{{ module.module_name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col form-select">
				<label>Function</label>
				<select id="function_select" class="form-control" onchange="function_change(this.value)">
					<option value="all">전체</option>
					{% for function in module.function_set.all %}
					<option value="{{ function.function_id }}">{{ function.function_name }}</option>
					{% endfor %}
				</select>
			</div>
			<div style="vertical-align:bottom;">
				<a class="btn btn-space btn-secondary testcaseHandler" href="edit/{{testcase.testcase_id}}" >
					<i class="mdi mdi-file-text"></i>
					Export
				</a>
			</div>
			<div style="vertical-align:bottom;">
				<a class="btn btn-space btn-secondary testcaseHandler" href="edit/{{testcase.testcase_id}}" >
					<i class="mdi mdi-file-plus"></i>
					Excel Import
				</a>
			</div>
3063-9632-8321
		</div>

		<div id="testcase">
			<div id="list" class="split content">
				<div id="grid" style="width: 100%;"></div>
			</div>
			<div id="content" class="split content">

				<div class="testcaseWrapper">

					<!-- testcase is here -->

				</div>

			</div>
		</div>
	</div>
</div>

<script>
	// Get values
	var current_service_id = "{{service.service_id}}"
	var module_id = "{{service.module_set.first.module_id}}"
	var function_id = "all"
	let testcase_list = {{testcase_list | safe}}
	
	// Testcase contents
	get_testcase(testcase_list[0].testcase_id);

	// Grid
	const Grid = tui.Grid;
	var grid = createGrid(testcase_list);	

	// split.js
	var gutterSize = 5;
	var sidebar_sizes = localStorage.getItem('sidebar_sizes')

	if (sidebar_sizes) {
		sidebar_sizes = JSON.parse(sidebar_sizes)
	} else {
		sidebar_sizes = [10, 90] // default sizes
	}
	Split(['#sidebar', '#main'], {
		sizes: sidebar_sizes,
		minSize: 200,
		gutterSize: this.gutterSize,
		cursor: 'col-resize',
		onDragEnd: function (sidebar_sizes) {
			localStorage.setItem('sidebar_sizes', JSON.stringify(sidebar_sizes))
			grid.destroy();
			createGrid(testcase_list);
		},
	})
	$(".gutter-horizontal").css('height', 1000);

	var list_sizes = localStorage.getItem('list-sizes')
	if (list_sizes) {
		list_sizes = JSON.parse(list_sizes)
	} else {
		list_sizes = [50, 50] // default sizes
	}

	Split(['#list', '#content'], {
		sizes: list_sizes,
		gutterSize: this.gutterSize,
		cursor: 'col-resize',
		onDragEnd: function (list_sizes) {
			localStorage.setItem('list-sizes', JSON.stringify(list_sizes))
			grid.destroy();
			createGrid(testcase_list);
		},
	})
	$("#"+current_service_id).css("background-color", "lightgray");
	$("#testcase_menu").css("background-color", "whitesmoke");

</script>
{% endblock %}
